# =========================================
# Python
# =========================================

__pycache__/
*.py[cod]
*$py.class

# =========================================
# Virtual Environment
# =========================================

venv/
.venv/
env/

# =========================================
# VS Code
# =========================================

.vscode/

# =========================================
# Operating System
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Training / Dataset Files
# =========================================

data/dataset/
data/live_real/
data/live_fake/
data/ai_fake_train/
data/ai_fake_train_wav/
data/evaluation/
data/raw/
data/processed/

# =========================================
# Temporary / Sample Audio
# =========================================

*.wav
*.mp3
*.mp4
*.mpeg
*.m4a
*.aac
*.ogg
*.opus
*.flac

# =========================================
# Logs
# =========================================

logs/*.csv

# =========================================
# Model files
# =========================================

# Ignore all model files first
models/*

# But keep the trained SwarRakshak model
!models/swarrakshak_model.pkl
!models/swarrakshak_scaler.pkl

# =========================================
# Streamlit
# =========================================

.streamlit/secrets.toml

# =========================================
# Jupyter
# =========================================

.ipynb_checkpoints/

# =========================================
# Misc
# =========================================

*.log